/* Imports */
@import url("https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+DK+Loopet:wght@100..400&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");
/* Variables */
/* Apply theme colors to specified elements */
[data-theme=dark] {
  background-color: rgb(30, 30, 30) !important;
  color: rgb(245, 245, 245) !important;
}
[data-theme=dark] .form-control, [data-theme=dark] .form-select, [data-theme=dark] #offline-overlay {
  background-color: rgba(20, 20, 20, 0.5) !important;
}
[data-theme=dark] #online-users > .user-profile, [data-theme=dark] .onlineusers-title, [data-theme=dark] #tabs > .tab:not(.tab-inactive),
[data-theme=dark] .btn-outline, [data-theme=dark] .chatwindow, [data-theme=dark] .input-container, [data-theme=dark] #current-user {
  background-color: rgb(20, 20, 20) !important;
}
[data-theme=dark] .modal-content, [data-theme=dark] .onlineusers-area {
  background-color: rgb(30, 30, 30) !important;
}
[data-theme=dark] .form-control, [data-theme=dark] .form-select, [data-theme=dark] .modal-content, [data-theme=dark] .onlineusers-area, [data-theme=dark] #tabs > .tab:hover,
[data-theme=dark] .btn-outline:hover, [data-theme=dark] .chatwindow, [data-theme=dark] #tabs > .tab-active, [data-theme=dark] #offline-overlay .disconnected-text {
  color: rgb(245, 245, 245) !important;
}
[data-theme=dark] .user-status, [data-theme=dark] #current-user-status, [data-theme=dark] input::placeholder, [data-theme=dark] .text-secondary, [data-theme=dark] .btn-outline {
  color: rgb(130, 130, 130) !important;
}
[data-theme=dark] .border-secondary, [data-theme=dark] .bg-outline-secondary, [data-theme=dark] .border, [data-theme=dark] .btn-outline, [data-theme=dark] .onlineusers-title,
[data-theme=dark] #tabs > .tab-inactive:hover {
  border-color: rgb(60, 60, 60) !important;
  border-width: 0.1rem !important;
}
[data-theme=dark] .user-profile:hover, [data-theme=dark] #current-user:hover, [data-theme=dark] .form-control:hover, [data-theme=dark] .form-select:hover {
  outline: 0.1rem solid rgb(130, 130, 130) !important;
  transition: outline-color 0.2s ease !important;
}
[data-theme=dark] .user-profile, [data-theme=dark] #current-user, [data-theme=dark] .form-control, [data-theme=dark] .form-select {
  outline: 0 solid transparent !important;
}
[data-theme=dark] .form-control:focus, [data-theme=dark] input:focus, [data-theme=dark] select:focus {
  box-shadow: 0 0 0 0.1rem rgb(130, 130, 130) !important;
}
[data-theme=dark] .tab-inactive {
  background-color: rgba(20, 20, 20, 0.5) !important;
  color: rgb(130, 130, 130);
}
[data-theme=dark] .tab-inactive.unread-msg {
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0%, 100% {
    color: rgb(245, 245, 245);
  }
  50% {
    color: rgb(130, 130, 130);
  }
}
[data-theme=light] {
  background-color: rgb(220, 220, 220) !important;
  color: rgb(30, 30, 30) !important;
}
[data-theme=light] .form-control, [data-theme=light] .form-select, [data-theme=light] #offline-overlay {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
[data-theme=light] #online-users > .user-profile, [data-theme=light] .onlineusers-title, [data-theme=light] #tabs > .tab:not(.tab-inactive),
[data-theme=light] .btn-outline, [data-theme=light] .chatwindow, [data-theme=light] .input-container, [data-theme=light] #current-user {
  background-color: rgb(255, 255, 255) !important;
}
[data-theme=light] .modal-content, [data-theme=light] .onlineusers-area {
  background-color: rgb(220, 220, 220) !important;
}
[data-theme=light] .form-control, [data-theme=light] .form-select, [data-theme=light] .modal-content, [data-theme=light] .onlineusers-area, [data-theme=light] #tabs > .tab:hover,
[data-theme=light] .btn-outline:hover, [data-theme=light] .chatwindow, [data-theme=light] #tabs > .tab-active, [data-theme=light] #offline-overlay .disconnected-text {
  color: rgb(30, 30, 30) !important;
}
[data-theme=light] .user-status, [data-theme=light] #current-user-status, [data-theme=light] input::placeholder, [data-theme=light] .text-secondary, [data-theme=light] .btn-outline {
  color: rgb(130, 130, 130) !important;
}
[data-theme=light] .border-secondary, [data-theme=light] .bg-outline-secondary, [data-theme=light] .border, [data-theme=light] .btn-outline, [data-theme=light] .onlineusers-title,
[data-theme=light] #tabs > .tab-inactive:hover {
  border-color: rgb(160, 160, 160) !important;
  border-width: 0.1rem !important;
}
[data-theme=light] .user-profile:hover, [data-theme=light] #current-user:hover, [data-theme=light] .form-control:hover, [data-theme=light] .form-select:hover {
  outline: 0.1rem solid rgb(130, 130, 130) !important;
  transition: outline-color 0.2s ease !important;
}
[data-theme=light] .user-profile, [data-theme=light] #current-user, [data-theme=light] .form-control, [data-theme=light] .form-select {
  outline: 0 solid transparent !important;
}
[data-theme=light] .form-control:focus, [data-theme=light] input:focus, [data-theme=light] select:focus {
  box-shadow: 0 0 0 0.1rem rgb(130, 130, 130) !important;
}
[data-theme=light] .tab-inactive {
  background-color: rgba(255, 255, 255, 0.5) !important;
  color: rgb(130, 130, 130);
}
[data-theme=light] .tab-inactive.unread-msg {
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0%, 100% {
    color: rgb(30, 30, 30);
  }
  50% {
    color: rgb(130, 130, 130);
  }
}
/* Mobile specific styles (applied to body via client.js) */
.mobile-layout {
  font-size: 20px !important;
  /* Font Size Adjustments */
}
.mobile-layout .onlineusers-area {
  z-index: 3 !important;
  display: none !important;
  width: calc(100% - 2rem) !important;
  height: calc(100% - 2rem) !important;
}
.mobile-layout .onlineusers-area.active {
  position: fixed !important;
  display: flex !important;
}
.mobile-layout #mobile-menu-btn {
  display: block !important;
  width: 3.2rem !important;
  height: 3.2rem !important;
}
.mobile-layout .chat-wrapper {
  flex-direction: column !important;
}
.mobile-layout .title {
  font-size: 2rem !important;
}
.mobile-layout #current-user-name {
  font-size: 1.5rem !important;
}
.mobile-layout .input-area, .mobile-layout .input-area button {
  font-size: 1.2rem !important;
}
.mobile-layout .chatwindow {
  font-size: 1.1rem !important;
}
.mobile-layout .chatwindow .message-wrapper > .timestamp {
  display: none !important;
}

/* Global overrides */
.cursor-pointer {
  cursor: pointer !important;
}

.cursor-default {
  cursor: default !important;
}

.font1 {
  font-family: "Playwrite DK Loopet", sans-serif !important;
}

.font2 {
  font-family: "Winky Sans", sans-serif !important;
}

.font-mono {
  font-family: "B612 Mono", monospace !important;
}

.hidden, .hide {
  display: none !important;
}

.z-max {
  z-index: 999999999 !important;
}

.h1 {
  font-size: 2rem !important;
}

.h2 {
  font-size: 1.7rem !important;
}

#tabs {
  margin-bottom: -0.1rem !important;
}
#tabs .tab.tab-active {
  z-index: 2 !important;
  position: relative;
}

#current-user-avatar, #online-users .user-avatar {
  filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.5));
} /* Avatar glow */
/* Offline overlay & loading spinner */
@keyframes fade {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.spinner {
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;
  position: relative;
}

.dot {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: fade 1s linear infinite;
}

.dot1 {
  top: 0;
  left: 50%;
  animation: fade 1s linear infinite;
}

.dot3 {
  top: 50%;
  left: 100%;
  animation: fade 1s linear infinite;
  animation-delay: 0.25s;
}

.dot5 {
  top: 100%;
  left: 50%;
  animation: fade 1s linear infinite;
  animation-delay: 0.5s;
}

.dot7 {
  top: 50%;
  left: 0;
  animation: fade 1s linear infinite;
  animation-delay: 0.75s;
}

.dot2 {
  top: 15%;
  left: 85%;
  animation: fade 1s linear infinite;
  animation-delay: 0.125s;
}

.dot4 {
  top: 85%;
  left: 85%;
  animation: fade 1s linear infinite;
  animation-delay: 0.375s;
}

.dot6 {
  top: 85%;
  left: 15%;
  animation: fade 1s linear infinite;
  animation-delay: 0.625s;
}

.dot8 {
  top: 15%;
  left: 15%;
  animation: fade 1s linear infinite;
  animation-delay: 0.875s;
}

/* Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
} /* Firefox */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.75);
}

/* Title styling */
@keyframes neonFlicker {
  1%, 9%, 11%, 39%, 41%, 59%, 61%, 69%, 71%, 99% {
    opacity: 0.8;
  }
  10%, 40%, 60%, 70%, 100% {
    opacity: 0;
  }
}
.neon {
  position: relative;
  color: white;
  text-shadow: 0 0 0.2rem white;
}
.neon::before {
  content: attr(data-text);
  pointer-events: none;
  position: absolute;
  width: 100%;
  left: -0.1rem;
  color: transparent;
}
